---
const { code, lang = "text" } = Astro.props;

const id = Math.random().toString(36).slice(2);
const blockId = `code-block-${id}`;
const codeId = `code-src-${id}`;
---

<div class="code-block" id={blockId} data-lang={lang} data-code-id={codeId}>
    <script type="text/plain" is:inline id={codeId} set:html={code}></script>
</div>

<script>
    import { EditorView } from "@codemirror/view";
    import { EditorState, Compartment } from "@codemirror/state";
    import { basicSetup } from "codemirror";
    import { cpp } from "@codemirror/lang-cpp";
    import { python } from "@codemirror/lang-python";
    import { javascript } from "@codemirror/lang-javascript";
    import { getThemeExtensions } from "../scripts/editorThemes";

    function getLanguage(lang: string) {
        switch (lang) {
            case "python":
                return python();
            case "javascript":
            case "js":
                return javascript();
            case "cpp":
            case "c++":
            case "csharp":
                return cpp();
            default:
                return [];
        }
    }

    document.querySelectorAll<HTMLElement>(".code-block[data-lang]").forEach((el) => {
        const codeEl = document.getElementById(el.dataset.codeId!);
        const code = codeEl?.textContent ?? "";
        const lang = el.dataset.lang ?? "text";

        const themeCompartment = new Compartment();

        const editor = new EditorView({
            state: EditorState.create({
                doc: code,
                extensions: [
                    basicSetup,
                    getLanguage(lang),
                    EditorView.editable.of(false),
                    themeCompartment.of(getThemeExtensions()),
                ],
            }),
            parent: el,
        });

        const observer = new MutationObserver(() => {
            editor.dispatch({
                effects: themeCompartment.reconfigure(getThemeExtensions()),
            });
        });

        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    });
</script>
